
<header class="main-header">
    <a href="/user-interface"> 
        <img src="/images/ironhack-logo-150x150.png" alt="IronHack Logo" class="logo-img">
    </a>



 

    <form action='/log-out' method='GET'>
  
  <button type='submit'>log out</button>
</form>


</header>

<div id="cohort-mem"> 
    <h3>Your Cohort Colleagues</h3>
    {{#each theCohort.members}}
    {{!-- <img src="{{this.image_url}}" alt=""> --}}
        <a href="user-interface/member/{{this._id}}" id="members"> - {{this.userName}}</a><br>
    {{/each}}
</div>