<header class="main-header">
    <a href="/"> 
        <img src="/images/ironhack-logo-150x150.png" alt="IronHack Logo" class="logo-img">
    </a>
     <form action='/sign-up' method='GET'>
  
  <button type='submit'>Sign Up</button>
</form>
 <form action='/log-in' method='GET'>
  
  <button type='submit'>Log in</button>
</form>
</header>


<div class="container"></div>
<div class="row">
<div class='col-sm-3'></div>
<div class= "col-sm-6">
    
    

</div>

<div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
<div class='col-sm-6 post-edit'>

   {{#each adminUser.postIds}}
        <p id="admin-posts" class="post-edit"> - {{this.postContent}}</p>
   {{/each}}

</div>
<div class="col-sm-3"></div>
</div>
<div class="row"></div>
<div class='col-sm-3'></div>
<div class="col-sm-6">
   

  
</div>
<div class="col-sm-3"></div>
</div>