
<header class="main-header">
    <a href="/"> 
        <img src="/images/ironhack-logo-150x150.png" alt="IronHack Logo" class="logo-img">
    </a>
</header>


<form action="/log-in" method="post" class="signUpForm">
   <div class="row">
       <div class="col-sm-3"></div>
    <div class="col-sm-6"> 
            <label for="">User Name: </label>
            <input type="text" name = "username" class="inputB">
    </div>
    <div class="col-sm-3"></div>
   </div>
    <div class="row">
        <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <label for="">Password</label>
        <input type="password" name="password" class="inputB">
    </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button>log in</button>
        </div>
        <div class="col-sm-4"></div>
    </div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-sm-6"></div>
        {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}
    <div class="col-3"></div>
</div>
</form>
</div>
