
<header class="main-header">
    <a href="/user-interface"> 
        <img src="/images/ironhack-logo-150x150.png" alt="IronHack Logo" class="logo-img">
    </a>



 

    <form action='/log-out' method='GET'>
  
  <button type='submit'>log out</button>
</form>


</header>

 <form action="/user-interface/profile/edit/{{linkToEdit.0._id}}" method="post" >
        <label for="">url link</label>
        <input type="text" name="urlLink" value="{{linkToEdit.0.url}}" onfocus="this.value=''">
        <label for="">url description</label>
        <input type="text" name="descriptionLink" value="{{linkToEdit.0.description}}" onfocus="this.value=''">
        <button type="submit">edit</button>
</form>