<header class="main-header">
    <a href="/"> 
        <img src="/images/ironhack-logo-150x150.png" alt="IronHack Logo" class="logo-img">
    </a>
</header>


<form action="/sign-up" method="post" class="signUpForm">
<img src="/images/unnamed.png" alt="Welcome" id="welcomeImage">
 <div class="row">
       <div class="col-sm-3"></div>
    <div class="col-sm-6"> 
            <label for="">User Name: </label>
            <input type="text" name = "username" class="inputB">
    </div>
    <div class="col-sm-3"></div>
   </div>
    <div class="row">
        <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <label for="">Password</label>  
        <input type="password" name="password" class="inputB">
    </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <label for="">Cohort : </label>
        <select name="cohort" id="cohortDropDown">
            <option value="WebDev 2020-01-01">Web dev 01/20</option>
            <option value="WebDev 2020-04-01">Web dev 04/20</option>
            <option value="UX/UI 2020-01-01">UX-UI 01/20</option>
            <option value="UX/UI 2020-04-01">UX-UI 01/20</option>
        </select>
    </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button>Sign up</button>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-sm-6"></div>
        {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}
    <div class="col-3"></div>
</div>
</form>


