<header class="main-header">
    <a href="index"> 
        <img src="/images/ironhack-logo-150x150.png" alt="IronHack Logo" class="logo-img">
    </a>
</header>


<div class="container"></div>
<div class="row">
<div class='col-sm-3'></div>
<div class= "col-sm-6">
    <h1> Links</h1>
    <ul>
        <li>Github: <a href="https://github.com/">Github</a></li>
        <li>Slack <a href="https://slack.com/">Slack</a> </li>
        <li>E-mail<a href="https://mail.google.com/">G-mail</a></li>
    </ul>

</div>

<div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
<div class='col-sm-6'>

    <h1>Posts</h1>
    <p>Post partial</p>

</div>
<div class="col-sm-3"></div>
</div>
<div class="row"></div>
<div class='col-sm-3'></div>
<div class="col-sm-6">
    <h1>Calendar</h1>
</div>
<div class="col-sm-3"></div>
</div>