<div class="container"></div>
<div class="row">
<div class='col-3'>

    <h1> Links</h1>
    <ul>
        <li>Github: <a href="https://github.com/"></a></li>
        <li>Slack <a href="https://slack.com/"></a> </li>
        <li>E-mail<a href="https://mail.google.com/"></a></li>
    </ul>

</div>


<div class='col-6'>

    <h1>Posts</h1>
    <p>Post partial</p>

</div>


<div class='col-3'>

    <h1>Calendar</h1>

</div>
</div>