<section class='left-column'>

    <h1> Links</h1>
    <ul>
        <li>Github: <a href="https://github.com/"></a></li>
        <li>Slack <a href="https://slack.com/"></a> </li>
        <li>E-mail<a href="https://mail.google.com/"></a></li>
    </ul>

</section>


<section class='center-column'>

    <h1>Posts</h1>
    <p>Post partial</p>

</section>


<section class='right-column'>

    <h1>Calendar</h1>

</section>
