<form action="/sign-up" method="post">
 <div class="row">
       <div class="col-sm-3"></div>
    <div class="col-sm-6"> 
            <label for="">User Name: </label>
            <input type="text" name = "username">
    </div>
    <div class="col-sm-3"></div>
   </div>
    <div class="row">
        <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <label for="">Password</label>
        <input type="password" name="password">
    </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <label for="">Cohort : </label>
        <select name="cohort" id="cohortDropDown">
            <option value="WebDev 01/20">Web dev 01/20</option>
            <option value="WebDev 04/20">Web dev 04/20</option>
            <option value="UX/UI 01/20">UX-UI 01/20</option>
            <option value="UX/UI 04/20">UX-UI 01/20</option>
        </select>
    </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button>Sign up</button>
        </div>
        <div class="col-sm-4"></div>
    </div>
</form>

</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-sm-6"></div>
        {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}
    <div class="col-3"></div>
</div>

