<h1>User interface view</h1>
{{!-- post Form --}}
<form action='/user-interface' method='POST'>
  <label for=''>postContent</label>
  <input type='text' name='postContent'>
  <button type="submit">Add photo</button>
  <button type='submit'>Submit</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}

{{#each allPosts}}
<p>
  {{#each this}}
     <b> {{this.userId.userName}}</b><br>
      {{this.postContent}}
  {{/each}}
</p>
{{/each}}

<form action='/log-out' method='GET'>
  <button type='submit'>log out</button>
</form>

{{!-- <form action="/user-interface/profile" method="GET">
    <button type='submit'>Profile</button>
</form> --}}

<a href="/user-interface/profile"><button >Profile</button></a>